body {
	font-family: "Arial";
	margin: 10px;
	background: #f2f2f2;
}

#h1 {
	font-size: 12px;
	margin: 10px;
}

#p {
	font-size: 14px;
	margin: 10px;
}

#everything {
	width:100%;
}

#leftinfo {
	float: left;
	width:230px;
	min-height:1000px;
	z-index: -1;
}

#rightinfo {
	float: left;
	min-height:1000px;
	z-index: -1;
}

#canvas {
	float: left;
	width:700px;
	height:700px;
	background: #fff;
	z-index: -1;
}

#canvas .ui-state-hover {
	border: 5px solid red;
	background: #ccc;
}

#canvas .ui-state-active {
	border: 5px solid blue;
	background: #eee;
}

#drag_window {
	float: left;
}

#items {
	width:220px;
	float: left;
	z-index: 100;
	margin-top: 20px;
}

#items .ui-selected { 
 	margin: 5px;
 	width: 50px; 
 	height: 50px; 
 	padding: 0.5em; 
 	border: 1px solid #000;
 	background: #fff;
 	text-align: center;
 	vertical-align: middle;
 	float: left;
 	cursor: all-scroll;
}

.draggable_content { 
 	margin: 3px;
 	width: 50px; 
 	height: 50px; 
 	padding: 5px; 
 	border-radius: 50%;
 	background: #FFD382;
 	text-align: center;
 	vertical-align: top;
 	float: left;
 	cursor: all-scroll;
 	z-index: 100;
}
.draggable_content .ui-state-highlight {
	background: #ff99aa;
}

.draggable_content p { 
 	text-align: center;
 	vertical-align: top;
 	font-size: 11px;
}

.add_tag_layer {
	background: #D1D0CF;
	opacity: 0.6;
	width:90px;
	padding:3px;
	margin-left: -5px;
	display: none;
}
.add_tag_layer input {
	margin:3px;
	background:#fff;
	border:0px;
	width:80px;
}

#savebutton {
margin-top: 50px;	
width: 100px;
vertical-align: middle;
}

#submitbutton {
    margin-top: 20px;	
 border-radius: 10px;
    width: 200px;
    height: 50px;
	vertical-align: left;
    background: #A9F5D0;
}



#axis_horisontal {
	width: 700px;
	height: 1px;
	position: relative;
	margin-top: 349px;
	border-bottom: 1px solid #d0c5c5;
}
#axis_vertical {
	width: 1px;
	height: 700px;
	position: relative;
	top: -351px;
	margin-left: 349px;
	border-right: 1px solid #d0c5c5;
}
#axisname_top {
	display: cell;
	width: 0px;
	height: 0px;
	position: relative;
	top: -1051px;
	left: 295px;
	border: 0px solid #000;
	vertical-align: bottom;
	z-index: 50;
}

#axisname_bottom {
	display: cell;
	width: 0px;
	height: 0px;
	position: relative;
	top: -369px;
	left: 295px;
	border: 0px solid #000;
	vertical-align: bottom;
	z-index: 50;
}

#axisname_left {
	display: cell;
	width: 0px;
	height: 0px;
	position: relative;
	top: -712px;
	left: 0px;
	border: 0px solid #000;
	vertical-align: bottom;
	z-index: 50;
}

#axisname_right {
	display: cell;
	width: 0px;
	height: 0px;
	position: relative;
	top: -712px;
	left: 575px;
	border: 0px solid #000;
	vertical-align: bottom;
	z-index: 50;
}


